# Scripts not created by me but locally stored
jsMapFile.bcheck
# Scripts created by me and pushed to the BCheck PortSwigger repository
# sameSiteDisabled.bcheck => Cookie-SameSite-Disabled.bcheck
# stackTrace.bcheck       => stackTrace.bcheck
sameSiteDisabled.bcheck
stackTrace.bcheck
#corsCredentialedRequestsMisconfiguration.bcheck
# Others stuff
BCheckChecker*.jar