# Validation tool
BCheckChecker*.jar
# Scripts not created by me but locally stored
jsMapFile.bcheck
# Scripts created by me and pushed to the BCheck PortSwigger repository
Cookie-SameSite-Disabled.bcheck
corsCredentialedRequestsMisconfiguration.bcheck
forwardedRequestsCollaboratorInteraction.bcheck
httpMethodOverrideCapability.bcheck
stackTrace.bcheck